@model IEnumerable<ProjectManager.Web.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Code) </th>
            <th> @Html.DisplayNameFor(model => model.Name) </th>
            <th> Hours </th>
            <th> Users </th>
            <th> Active </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Code) </td>
                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                <td> @item.ProjectWorkflows.Select(x => x.ReportedHours).Sum() </td>
                <td> @Html.DisplayFor(modelItem => item.ProjectUsers.Count) </td>
                <td> @Html.DisplayFor(modelItem => item.IsActive) </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="ManageUsers" asp-route-id="@item.Id">Manage Users</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
