@model IEnumerable<ProjectManager.Web.Models.ProjectWorkflow>

@{
    ViewData["Title"] = "Project Details";
    string projectId = ViewBag.ProjectId as string;
    string userId = ViewBag.UserId as string;
}

<h1>Project Details</h1>
<h4>Project => @ViewBag.ProjectName</h4>
<br />
<a asp-action="Projects" asp-route-userId="@userId">Back to List Projects</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th> Date </th>
            <th> Reported Hours </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.Timestamp))
        {
            <tr>
                <td> @item.Timestamp.ToString("dd/MM/yyyy HH:mm") </td>
                <td> @Html.DisplayFor(modelItem => item.ReportedHours) </td>
                <td>
                    <a asp-action="RemoveReportedHour" asp-route-projectWorkflowId="@item.Id" asp-route-projectId="@projectId" asp-route-userId="@userId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
